body {
  background: rgb(179, 49, 231);
}
h1 {
  text-align: center;
  font-size: small;
}
h2 {
  text-align: center;
  font-size: small;
}
/*
   position: absolute;
   position: fixed;
   position: sticky;
*/
.caixa1 {
   position: relative;
   width: 200px;
   height: 200px;
   background: #ca8473;
   left: 50px;
}
.menuPrincipal {
  position: absolute; 
  background: rgb(62, 224, 57);
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(47, 10, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgba(8, 94, 8, 0.185);
}
.BoxImage {
  width: 500px;
  height: 350px;
  background:rgba(117, 9, 81, 0.863);
  top: 45px;
  left: 0;
  margin: 20px;
  border-color: black;
  border-width: 10px;
  border-style: groove;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#daichi {
  width: 110%;
  height: 100%;
}
.rodape {
  position: absolute;
  width: 100%;
  height: 50px;
  color: blue;
  background: black;
  left: 0%;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.conteudoHome {
  position: absolute;
  top: 45px;
} 
#vazo {
  width: 650px;
  height: 450px;
}